html {
  font-family: roboto, Arial, Ubuntu,  sans-serif;
  font-family: Inter,Helvetica Neue,Helvetica, roboto, Arial, Ubuntu, sans-serif;
  font-size: 15px;
  line-height: 22px;
}
body {
  margin: 0;
}
.header {
  max-width: 100%;
  padding: 10px 0px;
  width: 100%;
}

.content {
  padding: 0px 0px 30px 0px;
  margin-bottom: 200px;
  width: 100%;
}
.bold {
  font-weight: 600;
}
.openchannels-popup {
  padding: 20px 50px;
}

.buttons {
  min-width: 250px;
  margin-bottom: 20px;
}

.open-tabs-btn {
  margin: 3px 1.5px;
  padding: 8px 16px;
  font-size: 13px;
  background-color: #444;
  background-color: rgba(255,255,255,0.1);
  color: white;
  border: 0;
  border-radius: 5px;
  display: inline-block;
}
.open-tabs-btn:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: 500;
  font-family: Ubuntu, roboto, Arial, sans-serif;
}
.header-title {
  font-size: 31px;
  line-height: 41px;
  font-weight: 500;
  font-family: Ubuntu, roboto, Arial, sans-serif;
  max-width: 680px;
  margin-top: 50px;
}
.section-header {
  margin-bottom: 0 !important;
}

.text {
  max-width: 670px;
  position: relative;
}
.introduction {
}

.section {
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.section_header {
  margin-bottom: 30px;
}
.img {
  box-shadow: 0 1px 1px 1px rgb(10 16 34 / 8%);
  box-shadow: 0px 2px 15px 0 rgb(0 0 0 / 5%), 0px 0px 3px 0 rgb(0 0 0 / 10%);
  box-shadow: 1px 3px 5px 0 rgb(0 0 0 / 7%), 0 1px 10px 0 rgb(0 0 0 / 6%), 2px 1px 4px -1px rgb(0 0 0 / 10%);
}
.img-preview {
  max-width: 500px;
}
.img-help {
  max-width: 580px;
}
.btn {
  background-color: rgba(46, 43, 215);
  color: white;
  margin-bottom: 10px;
  border: 1px solid rgba(85,83,255,1);
  --tw-bg-opacity: 1;
  background-color: rgba(85,83,255,1);
  background-color: #0e639c;
  border: 1px solid #0e639c;
  background-color: #1360a4;
  border: 1px solid #1360a4;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 0px;
}
.buttons-right {
  width: 350px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  text-align: right;
}
.buttons {
  margin-top: 15px;
  margin-bottom: 0;
}
.btn-github {
}
.btn-youtube {
}
.highlight {
  background-color: rgba(85,83,255,0.25);
  background-color: #137bc036;
  background-color: #1367c038;
  background-color: #1178e738;
}
.link-lang {
  font-size: 14px;
  margin-right: 10px;
}



/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-top: -8px;
}
.tab button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  transition: 0.3s;
  font-weight: 600;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 0px;
  border: 1px solid #ccc;
  border-top: none;
}

.img-logo {
  display: inline-block;
  max-height: 100px;
  border-radius: 200px;
  top: 10px;
}


.text-bold {
  font-weight: 500;
  font-family: Ubuntu, Inter,Helvetica Neue,Helvetica, roboto, Arial, sans-serif;
}

.instruction {
  margin-bottom: -10px;
}

.footer {
  margin-top: 70px;
}
.logo {
  max-width: 70px;
  border-radius: 5px;
}